* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}


.nav2{
    display: flex;
    gap: 50px;
    margin-right: 15px;
    height: 50%;
}
.light{
    background-color: lightseagreen;
     display: flex;
    background-color: lightseagreen;
    justify-content: space-between;
    padding: 14px,20px;
    align-items: center;
    height: 100px;
}

.dark{
    background-color:  blanchedalmond;
     display: flex;
    justify-content: space-between;
    padding: 14px,20px;
    align-items: center;
    height: 100px;
}